body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GAME COMPONENT */
.game {
  text-align: center;
  align-content: center;
  padding: 50px;
  margin: auto;
}

.yesButton {
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin: 10px;
}

.noButton {
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin: 10px;
}

/* HOME COMPONENT */
.welcome {
  text-align: center;
  padding: 1em;
  margin: auto;
}

.logout {
  text-align: right;
  padding: 1em;
}

.eachGame {
  margin-bottom: 2em;
  margin-left: 1em;
}

.historyTitle {
  margin-left: 1em;
  margin-bottom: 1em;
}

.gameText {
  padding: 0em;
}
