.image{
    border-radius: 20px;
}
.time{
    position: relative;
    text-align: center;
}
.img{
    margin-left: 43%;
    display: inline;
}

.real{
    border-radius: 10px;
    background-color: rgb(89, 207, 34);
    height: 20%;
    width:10%;
    font-size: 150%;
}
.fake{
    border-radius: 10px;
    background-color: rgb(212, 53, 47);
    height: 20%;
    width:10%;
    font-size: 150%;
}
.header{
    background-color: rgba(255, 255, 255, 0);
}

.game{
    padding-top:1.3%;
    
}