body {
  background-color: #ecf0f1;
  background-image: url("login bg.jpg");
}
.title{
  font-size: 690.42%;
  text-align:center;
  color:rgb(233, 111, 10);
  padding-top: 0.2%;
}
.page-login {
  margin-top: 200px;
}
